[submodule "vendor/src/github.com/cespare/blackfriday"]
	path = vendor/src/github.com/cespare/blackfriday
	url = git://github.com/cespare/blackfriday.git
[submodule "vendor/src/github.com/cespare/go-apachelog"]
	path = vendor/src/github.com/cespare/go-apachelog
	url = git://github.com/cespare/go-apachelog.git
[submodule "vendor/src/github.com/gorilla/pat"]
	path = vendor/src/github.com/gorilla/pat
	url = git://github.com/gorilla/pat.git
[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = git://github.com/gorilla/mux.git
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = git://github.com/gorilla/context.git
